<div class="tp" >
    <h2 > New Login</h2> 
    <!-- <form  id="newData" name="newData" #addData="ngForm" [(ngModel)]="adData" (ngSubmit)="onSubmit(addData.value)" ngDefaultControl>
     
      <div > Name: </div>   
      <input name="name" type="text" ngModel  required #name="ngModel"/><br><br>
      <div> Email:</div> 
      <input name="email" type="email"  ngModel required #email="ngModel"/><br><br>
  
      <input class="add" type="submit"  value="Sign In" >&nbsp;
    </form> -->
  </div>
  
  <!-- <p>Or&nbsp;</p> -->
  
  <button type="button" class="google-button" (click)='login()' *ngIf='visible' >
    <img src="../../assets/download.png" height="25px" width="25px">&nbsp;&nbsp;&nbsp;
  <span class="sign">Sign in with Google</span>
  </button>
  