input.add {
    background-color:grey;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  input.add:hover {
    background-color: green;
  }

  button{
    background-color:white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  button:hover{
    
    background-color:  rgb(66, 133, 244);
    color: white;
  }
  .sign:hover{
  
   
  }