

    <!-- <h2>  Welcome User </h2> -->
    <!-- <div *ngIf="!valuesa"></div>
    <ul *ngFor="let data of datas">
      
        
        <div> Hello!! {{data.name | uppercase}}</div> 
        <div>Email: {{data.email}} </div> <br> Thanks for login...!!!<br>
        <button class="del"  (click)="onDelete(data)">Log out</button> &nbsp;
       
      
    </ul>
  </div> -->
  
  
  <div *ngIf="afAuth.authState | async as authUser">
    <h1>
      Hello!! {{authUser.displayName}}
    </h1>
    <img [src]="authUser.photoURL" height="400px" width="400px">
    <h1>
      Email: {{authUser.email}}
    </h1>
     <h1>
      Thanks for login...!!!
    </h1>
  <br>
        <button href="#" class="btn btn-info btn-lg" class="del" (click)='logout()'>
        <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
  </div>
  
  